.language-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.language-label {
  font-size: 12px;
  color: var(--px-text);
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.language-toggle {
  padding: 8px 16px;
  background-color: var(--px-theme);
  color: var(--px-theme-text);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  width: 65px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .language-wrapper {
    flex-direction: column;
  }
}
